<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL</key>
	<string>$(BASE_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Black.ttf</string>
		<string>DMSans-BlackItalic.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-MediumItalic.ttf</string>
		<string>DMSans-Thin.ttf</string>
		<string>DMSans-ThinItalic.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Boldtalic.ttf</string>
		<string>DMSans-LightItalic.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-Italic.ttf</string>
	</array>
</dict>
</plist>
